@import url("./reset.css");
@import url("./output.css");

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.ttf");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.ttf");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/Inter-SemiBold.ttf");
  font-display: swap;
  font-weight: 600;
}

/* Defaults */
:root {
  user-select: none;
}

/* Custom Styles */
.active-category {
  background-color: #ffffff1f !important;
  transition: all ease-in 150ms;
}
