@import url("./reset.css");
@import url("./output.css");

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.ttf");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../fonts/Inter-Bold.ttf");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("../fonts/Inter-SemiBold.ttf");
  font-display: swap;
  font-weight: 600;
}

/* Defaults */
:root {
  user-select: none;
}
::-webkit-scrollbar {
  width: 0.4vw;
  height: 1vh;
}
::-webkit-scrollbar-track {
  background-color: #2a2a2a;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:active {
  background-color: #bebebe;
}

/* Custom Styles */
.active-category {
  background-color: #ffffff1f !important;
  transition: all ease-in 150ms;
}
